@page "/projects/{ProjectId:guid}/code"
@using MudBlazor
@using ArchoCybo.Application.DTOs
@using ArchoCybo.Application.Interfaces.IServices
@using BlazorMonaco.Editor
@inject ICodeViewerService CodeViewerService
@inject ISnackbar Snackbar
@namespace ArchoCybo.Pages.Projects

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4 px-6">
    <MudGrid Style="height: calc(100vh - 120px);">
        <!-- File Tree Sidebar -->
        <MudItem xs="12" md="3" Style="height: 100%; border-right: 1px solid #374151;">
            <MudPaper Height="100%" Class="pa-2 overflow-auto" Elevation="0" Style="background-color: #1f2937;">
                <MudText Typo="Typo.h6" Class="mb-4" Color="Color.Primary">Project Explorer</MudText>
                @if (rootNode != null)
                {
                    <MudTreeView Items="rootNode.Children" T="FileNodeDto" @bind-SelectedValue="selectedNode" Hover="true" Dense="true">
                        <ItemTemplate>
                            <MudTreeViewItem @bind-Expanded="@context.IsDirectory" Value="@context" 
                                            Icon="@(context.IsDirectory ? Icons.Material.Filled.Folder : GetFileIcon(context.Extension))"
                                            Text="@context.Name"
                                            Items="@context.Children" />
                        </ItemTemplate>
                    </MudTreeView>
                }
                else
                {
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                }
            </MudPaper>
        </MudItem>

        <!-- Code Editor Area -->
        <MudItem xs="12" md="9" Style="height: 100%;">
            <MudPaper Height="100%" Class="d-flex flex-column" Elevation="0" Style="background-color: #1a1a1a;">
                <div class="pa-2 d-flex align-center justify-space-between" style="border-bottom: 1px solid #374151; background-color: #1f2937;">
                    <MudText Typo="Typo.subtitle2" Style="color: #9ca3af;">
                        @(selectedNode?.RelativePath ?? "Select a file to view code")
                    </MudText>
                    <MudChip T="string" Color="Color.Info" Size="Size.Small" Variant="Variant.Outlined">
                        @(selectedNode?.Extension ?? ".cs")
                    </MudChip>
                </div>
                <div class="flex-grow-1">
                    <StandaloneCodeEditor @ref="_editor" Id="my-editor-instance" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnEditorInit" />
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
